@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
       url(/src/fonts/Montserrat/static/Montserrat-Light.ttf)
  }
  
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: local(''),
       url(/src/fonts/Montserrat/static/Montserrat-Light.ttf)
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
       url(/src/fonts/Montserrat/static/Montserrat-Regular.ttf)
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
       url(/src/fonts/Montserrat/static/Montserrat-Medium.ttf)
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
       url(/src/fonts/Montserrat/static/Montserrat-Bold.ttf)
  }
  
  
  body {
    font-family: 'Roboto Mono', monospace;
    background-color: #1a1a22
  }


  